[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
squarify = "*"
beautifulsoup4 = "*"
gensim = "*"
pyldavis = "*"
spacy = "*"
ipykernel = "*"
pandarallel = "*"
ipywidgets = "*"
mapply = "*"

[dev-packages]

[requires]
python_version = "3.8"
